In [ ]:
sub1=int(input("Enter marks for 1st subject:"))
sub2=int(input("Enter marks for 2nd subject:"))
sub3=int(input("Enter marks for 3rd subject:"))  
sub4=int(input("Enter marks for 4th subject:"))
total = sub1+sub2+sub3+sub4
avg=total/5
#grade = input("Enter Grade Marks:  ")

if avg >= 90:
   print("A")
elif avg >= 80:
   print("B")
elif avg >= 70:
   print("C")
elif avg >= 60:
   print("D")
else:
   print("E")

In [11]:
months = ["jan","feb","march","april"]
date = ["1","2","3"]
my_birthday = ("my birthday is on"+ " " + months[0] + date [2])
print(my_birthday)

my birthday is on jan3

In [12]:
date = [1,2,3,4]
print (date [2])

3

In [1]:
dogs=["gultair","german shepard","husky","pointer"]
names=["shadow","skyee"]
#text = ("my dog name is" + " "+names[0]+ " "+ dogs[0])
dogs.append ("sheroo")
dogs.insert(0,"sheroo")
print(dogs)

['sheroo', 'gultair', 'german shepard', 'husky', 'pointer', 'sheroo']

In [31]:
names ={"Ali","Hamza","Junaid",200,False}

print(names)
#print(names[-1])
print(type(names))

#set
#list
#tuple

{False, 'Ali', 200, 'Hamza', 'Junaid'}
<class 'set'>

In [5]:
biscuits =["marie","choclato","click","tuc"]
print(biscuits)
biscuits.append("lemon sandwich")
print(biscuits)
biscuits.insert(2,"sooper")
print(biscuits)

['marie', 'choclato', 'click', 'tuc']
['marie', 'choclato', 'click', 'tuc', 'lemon sandwich']
['marie', 'choclato', 'sooper', 'click', 'tuc', 'lemon sandwich']

In [15]:
x = ["sun","moon","stars","planets"]
x = x + ["stars","jupiter"]
print(x)

['sun', 'moon', 'stars', 'planets', 'stars', 'jupiter']