In [5]:
alpha = "zoya"
print(alpha.upper())

ZOYA

In [9]:
len(alpha)

4

In [27]:
name = "muhammad","vijdan","saeed"
name =(name.upper()[2])
print(name)

AttributeError: 'tuple' object has no attribute 'upper'

In [30]:
favourite_language= '    python   '
favourite_language.lstrip()

'python   '

In [31]:
favourite_language= '    python   '
favourite_language.rstrip()

'    python'

In [33]:
favourite_language= '    python   '
favourite_language.strip()

'python'

In [40]:
name = "muhammad","vijdan","saeed"
print("muhammad\nvijdan\tsaeed")

muhammad
vijdan	saeed

# Operators

In [42]:
2**9

512

In [46]:
9//3

3

In [47]:
9/3

3.0

In [49]:
8%9

8

# PEMDAS

In [51]:
2*3+(96%5)+5//9+(59/8)-8**7

-2097137.625

In [60]:
current_age = int(input("input your current age: "))
agenextyear = current_age + 1
dev = str(agenextyear)
print("my age next year will be " + dev)

input your current age: 45
my age next year will be 46

In [62]:
user_age = input("Enter your age: ")
age_as_number = int(user_age)
year_older = age_as_number + 1
older_as_string = str(year_older)
print("Next year you'll be " + older_as_string)

Enter your age: 45
Next year you'll be 46

In [75]:
age += 3
age

49

In [81]:
age *=6
age

2286144

In [88]:
age = 12
amount_to_increment = 3
age += amount_to_increment
age

15

In [96]:
age = 12
age *=12
age

144

In [98]:
100%11

1

In [109]:
a = 4
b = 0 
if a == b:
    print ("equal to")
elif a > b:
    print ("greater than")
elif a < b:
    print ("smaller than")
else:
    print ("goodluck!")

greater than

In [120]:
3.2 * 10 ** -12

3.2e-12

In [113]:
"\t\n\x7E"

'\t\n~'

In [121]:
print(r'foo\\bar\nbaz')

foo\\bar\nbaz

In [1]:
i = 1
while True:
    if(1%2==0):
        break
print(i)
    i += 2

IndentationError: unexpected indent (<ipython-input-1-ee9d5d959ac8>, line 6)

In [3]:
a = (1, 2)
a[0] +=1

TypeError: 'tuple' object does not support item assignment

In [6]:
s1={1,2,3}
2 * s1

TypeError: unsupported operand type(s) for *: 'int' and 'set'

In [ ]:
'''q = 'TutorialsPoint'
r = 'T'
while r in q:
   print('r', end= '' '')'''

In [1]:
2+4

6

In [5]:
"python"[-3]

'h'

# LIST

In [7]:
l = [1,2,6,5,7,8]
l.insert(9)

TypeError: insert() takes exactly 2 arguments (1 given)

In [3]:
l = [1,2,6,5,7,8]
l.insert(0,9)

In [5]:
l.append(10)

In [4]:
l

[9, 1, 2, 6, 5, 7, 8]

In [8]:
l

[1, 2, 6, 5, 7, 8]

In [16]:
l.clear()

In [18]:
l

[]

In [20]:
words=["a","b","c","d"]

In [25]:
words.remove("c")

ValueError: list.remove(x): x not in list

In [26]:
print(words)

['a', 'b', 'd']

In [28]:
words

['a', 'b', 'd']

In [29]:
del words

In [32]:
print(words)

NameError: name 'words' is not defined

In [34]:
l=[1,2,3,4,5,6]
del l[3]
l

[1, 2, 3, 5, 6]

In [36]:
l

[1, 2, 3, 5, 6]

In [42]:
l.pop(2)
l

IndexError: pop index out of range

In [194]:
q=[1,2,3,4,5,6,7,8]
q.pop()

8

In [52]:
q

[1, 2, 4, 5, 6, 7, 8]

In [54]:
q2= q.copy()
q2

[1, 2, 4, 5, 6, 7, 8]

In [56]:
q3 = q

In [58]:
q3

[1, 2, 4, 5, 6, 7, 8]

In [60]:
q.append(9)

In [62]:
q

[1, 2, 4, 5, 6, 7, 8, 9, 9]

In [64]:
q2

[1, 2, 4, 5, 6, 7, 8]

In [66]:
q3

[1, 2, 4, 5, 6, 7, 8, 9, 9]

In [75]:
q.count(9)

2

In [79]:
a=["vijdansaeed","zoyasaeed","vijdansaeed","vijdansaeed","atifsaeed","ezazulhaq"]
a.count("vijdansaeed")

3

In [80]:
a.sort()
a

['atifsaeed',
 'ezazulhaq',
 'vijdansaeed',
 'vijdansaeed',
 'vijdansaeed',
 'zoyasaeed']

In [84]:
a.extend(["atifsaeed","vijdansaeed"])
a

['atifsaeed',
 'ezazulhaq',
 'vijdansaeed',
 'vijdansaeed',
 'vijdansaeed',
 'zoyasaeed',
 'v',
 'i',
 'j',
 'd',
 'a',
 'n',
 's',
 'a',
 'e',
 'e',
 'd',
 'a',
 't',
 'i',
 'f',
 's',
 'a',
 'e',
 'e',
 'd',
 'atifsaeed',
 'vijdansaeed',
 'atifsaeed',
 'vijdansaeed']

In [85]:
a

['atifsaeed',
 'ezazulhaq',
 'vijdansaeed',
 'vijdansaeed',
 'vijdansaeed',
 'zoyasaeed',
 'v',
 'i',
 'j',
 'd',
 'a',
 'n',
 's',
 'a',
 'e',
 'e',
 'd',
 'a',
 't',
 'i',
 'f',
 's',
 'a',
 'e',
 'e',
 'd',
 'atifsaeed',
 'vijdansaeed',
 'atifsaeed',
 'vijdansaeed']

In [90]:
a.index("vijdansaeed")

2

In [91]:
a.index("atifsaeed")

0

In [92]:
a.reverse()
a

['vijdansaeed',
 'atifsaeed',
 'vijdansaeed',
 'atifsaeed',
 'd',
 'e',
 'e',
 'a',
 's',
 'f',
 'i',
 't',
 'a',
 'd',
 'e',
 'e',
 'a',
 's',
 'n',
 'a',
 'd',
 'j',
 'i',
 'v',
 'zoyasaeed',
 'vijdansaeed',
 'vijdansaeed',
 'vijdansaeed',
 'ezazulhaq',
 'atifsaeed']

In [95]:
a.clear()

In [96]:
print(a)

[]

In [142]:
a=["is","there",2,"any",3,"food"]
b=a[:2] #zero sa la ka first two
b

['is', 'there']

In [145]:
a=["is","there",2,"any",3,"food"]
b=a[::2] #zero sa la ka first two
b

['is', 2, 3]

In [101]:
c=a[2:]
c #two sa la ka last tak

[2, 'any', 3, 'food']

In [103]:
d=a[2:4] #[n:n+1]
d

[2, 'any']

In [151]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [158]:
fruit=['apple', 'banana', 'papaya', 'cherry']

In [159]:
random.shuffle(fruit)
fruit

NameError: name 'random' is not defined

In [116]:
print('pakistan1',"hello",sep="iamseperator")

pakistan1iamseperatorhello

In [118]:
print("helloworld1",end="")
print("helloworld2",end="")
print("helloworld3")

helloworld1helloworld2helloworld3

In [120]:
print("helloworld1",end="\t")
print("helloworld2",end="\t")
print("helloworld3")

helloworld1	helloworld2	helloworld3

In [122]:
print("helloworld1",end="\t\t")
print("helloworld2",end="\t")
print("helloworld3")

helloworld1		helloworld2	helloworld3

In [125]:
print("helloworld1",end="\n\n")
print("helloworld2",end="\n")
print("helloworld3")

helloworld1

helloworld2
helloworld3

In [127]:
a=10
type(a)

int

In [131]:
q="23"+"45"
q

'2345'

In [133]:
d = {"john":40, "peter":45}
"john" in d

True

In [135]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 == d2

False

In [139]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d2 == d1

False

In [140]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 > d2

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [161]:
rec = {"Name" : "Python", "Age":"20"}
r = rec.copy()
print(id(r) == id(rec))

False

In [163]:
print(r)

{'Name': 'Python', 'Age': '20'}

In [165]:
print(rec)

{'Name': 'Python', 'Age': '20'}

In [169]:
rec = {"Name" : "Python", "Age":"20"}
rec.pop("Age")

'20'

In [172]:
rec.items()

dict_items([('Name', 'Python')])

In [174]:
rec.keys()

dict_keys(['Name'])

In [177]:
rec.values()

dict_values(['Python'])

In [179]:
rec.indexes()

AttributeError: 'dict' object has no attribute 'indexes'

In [185]:
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
X[0:3]

['Feb', 'Apr', 'Mar']

In [187]:
X[2:8]

['Mar', 'May', 'Jun', 'Jul', 'Aug', 'Jan']

In [188]:
X[4:9]

['Jun', 'Jul', 'Aug', 'Jan']

In [190]:
X[1:7:2]

['Apr', 'May', 'Jul']

In [195]:
X[-7:0]

[]

In [196]:
X[-7:7]

['Apr', 'Mar', 'May', 'Jun', 'Jul', 'Aug']

In [198]:
X[-1:-8:-2]

['Jan', 'Jul', 'May', 'Apr']

In [200]:
X[:4]

['Feb', 'Apr', 'Mar', 'May']

In [201]:
X[4:]

['Jun', 'Jul', 'Aug', 'Jan']

In [203]:
X=4
Y= 2
print(X % Y) 
print(X / Y) 
print(X // Y) 
print(Y % X)

0
2.0
2
2

In [205]:
x = [[4, 1, 1], [5, 9, 0]]
for i in x:
    for j in i:
        print(j)

4
1
1
5
9
0

In [208]:
x = [[4, 1, 1], [5, 9, 0]]
for i in x:
    for j in x:
        print(j)

[4, 1, 1]
[5, 9, 0]
[4, 1, 1]
[5, 9, 0]

In [214]:
x = [[4, 1, 1], [5, 9, 0]]
for i in i:
    for j in i:
        print(j)

TypeError: 'int' object is not iterable

In [223]:
D = dict()
for i in range (3):
    for j in range(2):
        D[i] = j
        print(D)

{0: 0}
{0: 1}
{0: 1, 1: 0}
{0: 1, 1: 1}
{0: 1, 1: 1, 2: 0}
{0: 1, 1: 1, 2: 1}

In [225]:
if X=123
print(“%06d”%X)

SyntaxError: invalid syntax (<ipython-input-225-92f9e0244a9c>, line 1)

In [245]:
arr = [1,2,3,4,5,6,7]
for elem in arr:
    if elem == 6:
        break
    print(elem)

1
2
3
4
5

In [247]:
arr = [1,2,3,4,5,6,7]
for elem in arr:
    if elem == 6:
        continue
    print(elem)

1
2
3
4
5
7

In [254]:
a="zoya"
print(a[1:3])

oy

In [256]:
c={}

In [258]:
c["name"]="zoya"
c

{'name': 'zoya'}

In [282]:
c["name"]="vijdan"
c
c["lastname"]="saeed"
c

{'lastname': 'saeed', 'name': 'vijdan'}

In [283]:
for value in c.values():
    print(value)

saeed
vijdan

In [284]:
type(c)

dict

In [286]:
del c["name"]
print(c)

KeyError: 'name'

In [296]:
a=[
    {1:"PB",2:"GOT",3:"ABZ"},
    {1:23,"b":12,"c":8}
]
print(a)

[{1: 'PB', 2: 'GOT', 3: 'ABZ'}, {1: 23, 'b': 12, 'c': 8}]

In [292]:
a.append(c)

In [297]:
a

[{1: 'PB', 2: 'GOT', 3: 'ABZ'}, {1: 23, 'b': 12, 'c': 8}]

In [309]:
print(a[0][2])

GOT