In [3]:
planets = ["mercury","venus","earth","mars","jupiter"]
planets.append("saturn")

In [5]:
planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']

In [8]:
planets.insert(6,"neptune")
planets

['mercury',
 'venus',
 'earth',
 'mars',
 'jupiter',
 'saturn',
 'neptune',
 'neptune',
 'neptune']

In [27]:
planets.extend(["uranus","pluto"])
planets

['mercury',
 'venus',
 'earth',
 'mars',
 'jupiter',
 'saturn',
 'neptune',
 'neptune',
 'neptune',
 'uranus',
 'pluto',
 'uranus',
 'pluto']

In [19]:
planets.count("neptune")

3

In [21]:
len("planets")

7

In [31]:
planets.count('planets')
planets

['mercury',
 'venus',
 'earth',
 'mars',
 'jupiter',
 'saturn',
 'neptune',
 'neptune',
 'neptune',
 'uranus',
 'pluto',
 'uranus',
 'pluto']

In [41]:
planets.index("earth")

2

In [43]:
planets.clear()

In [45]:
planets

[]

In [48]:
fruits=["apple","mango","pear","banana"]
fruits

['apple', 'mango', 'pear', 'banana']

In [52]:
fruits2 = fruits

In [54]:
fruits2

['apple', 'mango', 'pear', 'banana']

In [57]:
fruits.append("kiwi")
fruits2

['apple', 'mango', 'pear', 'banana', 'kiwi', 'kiwi', 'kiwi']

In [61]:
fruits3=fruits.copy()

In [63]:
fruits3

['apple', 'mango', 'pear', 'banana', 'kiwi', 'kiwi', 'kiwi']

In [70]:
del fruits[4]
fruits

IndexError: list assignment index out of range

In [71]:
fruits3

['apple', 'mango', 'pear', 'banana', 'kiwi', 'kiwi', 'kiwi']

In [73]:
fruits3.remove("pear")

ValueError: list.remove(x): x not in list

In [75]:
fruits3

['apple', 'mango', 'banana', 'kiwi', 'kiwi', 'kiwi']

In [77]:
fruits3.remove("kiwi")
fruits3

['apple', 'mango', 'banana', 'kiwi']

In [80]:
fruits3

['apple', 'mango', 'banana', 'kiwi']

In [85]:
poppedfruits=fruits.pop(1)
poppedfruits

'pear'

In [87]:
fruits

['apple', 'banana']

In [91]:
poppedfruits3=fruits3.pop(2)
poppedfruits3

'banana'

In [95]:
fruits3

['apple', 'mango']

In [153]:

smaller_cities = professor[2:5]
print(professor)
smaller_cities

['Tokyo', 'Oslo', 'Chicago', 'Denver', 'Berlin', 'Narobi']

['Chicago', 'Denver', 'Berlin']

In [145]:
 professor in ["Berlin"]

False

In [155]:
professor.append (professor.pop(1))
professor

['Tokyo', 'Chicago', 'Denver', 'Berlin', 'Narobi', 'Oslo']

In [160]:
professor = ["Tokyo", "Oslo", "Chicago", "Denver", "Berlin", "Narobi"]
professor

['Tokyo', 'Oslo', 'Chicago', 'Denver', 'Berlin', 'Narobi']

In [169]:
money_heist = professor[-2:7]
money_heist

['Berlin', 'Narobi']

In [173]:
a=["wejee"]
b=a[1:2]
print(b)

[]

In [177]:
str="wejee"
print(str[1:2])

e

In [193]:
professor = ["Tokyo", "Oslo", "Chicago", "Denver", "Berlin", "Narobi"]
#professor.pop(3)
#professor

mh=professor.pop(-1)
mh

'Narobi'

In [187]:
mh

'Chicago'

In [189]:
professor

['Tokyo', 'Oslo', 'Denver', 'Berlin', 'Narobi']

In [194]:
print ("i live in" + " " + mh)

i live in Narobi

# tupple

In [206]:
a=("zoya",200,"ozu",300,"ozu")
a

('zoya', 200, 'ozu', 300, 'ozu')

In [210]:
a.count("ozu") #index calculation how many times

2

In [214]:
a.index("ozu")

2

In [216]:
x = (3, "Hello", "Howdy", "Greetings")
y = ("earth", "sun", "World", "Pluto", 144)

z = x[1] + "," +y[2]
z

'Hello,World'

In [224]:
my_list=["x","y","z"]
my_tuple = ("a", "b", "c")
my_list.append(my_tuple[2])
print(my_list)

['x', 'y', 'z', 'c']

In [226]:
list = [4, 5, 6]
tuple = (1, 2, 3)
list.insert(0,tuple[2])
print(list)

[3, 4, 5, 6]

In [30]:
x= "y"
a= "b"
c = "d"
g = "h"
e = "false"
f = "a"

if (x == y or a == b) and c == d:
    g = h
else:
    e = f
    print(g)

h

In [34]:
d= "m"
if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = f
else:
    e = g
    print(e)

h

In [54]:
flower = "jasmine"
animal = "markhoor"

if flower == "jasmine":
    if animal == "lion":
        print("national flower")
    else:
        print("national animal")
else:
    print("not correct")

national animal