In [1]:
2+2

4

In [4]:
2*7

14

In [5]:
country = ["turkey","pakistan","france","venice","uk"]
city_to_check =input("check the city")

check the cityt

In [3]:
name = str(input("enter your name"))
age = int(input("enter your age"))
income = float(input("enter your income"))
print(name)
print(age)
print(income)

enter your namezoya
enter your age33
enter your income56.9
zoya
33
56.9

In [7]:
user_age = input("Enter your age: ")
age_as_number = int(user_age)
year_older = age_as_number + 1
older_as_string = str(year_older)
print("Next year you'll be " + older_as_string)

Enter your age: 78
Next year you'll be 79

In [23]:
number = str("52:")
print (number)

52:

In [24]:
abc = int(89)
print(abc)

89

In [39]:
salary = int(input("enter ur salary"))
next_month = salary + 5000
total = str(next_month)
print("my salary will be " + total)

enter ur salary52

TypeError: 'str' object is not callable

In [6]:
salary = input("enter ur salary:")
salary2 = int(salary)
next_month = salary2 + 5000
total = str(next_month)
print("my salary will be" + total)

enter ur salary:50
my salary will be5050

In [5]:
name = "zoya"
fake = name.upper()
print(fake)

ZOYA

In [7]:
name = "ALI baBa 40 CHHor"
name2 = name.lower()
print(name2)

ali baba 40 chhor

In [10]:
name = input("enter your name")
name2 =name.upper()
print (name2)

enter your namevijdan saeed
VIJDAN SAEED

In [12]:
3+5

8

In [14]:
9%4

1

In [25]:
number= "A","B","C","D","E","F"
for theman in number:
    theman = theman.lower()
    print(theman)

a
b
c
d
e
f

In [27]:
name = "zoya"
last_name = "saeed"
full_name =(name + last_name)
print(full_name)

zoyasaeed

In [30]:
cities = ["cairo", "Turin", "manila", "Reykjavik", "riO", "JOHANNESBURG", "mELbourNE"]
for city in cities:
    city=city.lower()
    print(city)

cairo
turin
manila
reykjavik
rio
johannesburg
melbourne

In [41]:
fishes = ["cod", "trout", "yellowtail", "tuna", "salmon"]
#fishes.index("yellowtail")
print(fishes[3])

tuna

In [45]:
devices = ["computer", "smart phone", "tablet", "smart watch", "video game console"]
devices_slice = devices[2:4]
print (devices_slice)

['tablet', 'smart watch']

In [54]:
devices.remove("computer")
print(devices)

['smart phone', 'tablet', 'smart watch', 'video game console']

In [56]:
abc = ["computer", "smart phone", "tablet", "smart watch", "video game console"]
abc.remove(0)
abc

ValueError: list.remove(x): x not in list

In [57]:
alpha ="google"
alpha.

SyntaxError: invalid syntax (<ipython-input-57-460805ca6d1d>, line 2)

In [64]:
fruits_i_like = ["apple", "pear", "plum"]
citrus_fruit_list = ("tangerine", "orange", "grapefruit")
citrus_fruit_list =fruits_i_like.insert(0,"tangerine")
fruits_i_like

['tangerine', 'apple', 'pear', 'plum']

In [65]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

In [69]:
address_of_customer = customer_29876["first name"]
print(address_of_customer)

David

In [71]:
rankings={5:"Finland",2:"Norway",3:"Sweden",7:"Iceland"}

In [74]:
rankings1 = rankings[5]
print(rankings1)

Finland

In [76]:
print(rankings)

{5: 'Finland', 2: 'Norway', 3: 'Sweden', 7: 'Iceland'}

In [79]:
rankings

{5: 'Finland', 2: 'Norway', 3: 'Sweden', 7: 'Iceland'}

In [91]:
season = {1:"prison break",2:"break bad","vikings": 3}
season_find = season["vikings"]
print(season_find)
season_add = season_find.append(fisr_name)
print(season_add)

3

AttributeError: 'int' object has no attribute 'append'

In [94]:
info = {1:"prison break",2:"break bad","vikings": 3}
age = info["age"]
list_of_ages.append(age)
print(age)

KeyError: 'age'

In [96]:
myDict = {"name":"zoya","age":33,"gender":"F"}
myDict

{'name': 'zoya', 'age': 33, 'gender': 'F'}

In [99]:
myDict["email"]="xoi.8188@gmail.com"
myDict

{'name': 'zoya', 'age': 33, 'gender': 'F', 'email': 'xoi.8188@gmail.com'}

In [103]:
print(myDict["age"])

33

In [105]:
del myDict

NameError: name 'myDict' is not defined

In [108]:
print(myDict)

NameError: name 'myDict' is not defined

In [113]:
season = {1:"prisonbreak",2:"breakingbad",3:"vikings",4:"gameofthrones"}
for key in season.keys():
    print(key)

1
2
3
4

In [115]:
for value in season.values():
    print(value)

prisonbreak
breakingbad
vikings
gameofthrones

In [117]:
for value,key in season.items():
    print(value,key)

1 prisonbreak
2 breakingbad
3 vikings
4 gameofthrones

In [124]:
students = []
students.append["myDict","season"]
#for student in students:
print(students)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [127]:
students = ["myDict","season"]
print(students)

['myDict', 'season']

In [130]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
 },
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
"address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}]

In [143]:
print(customers[1],[2])

{'customer id': 1, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'} [2]