In [44]:
arr=[1,2,3,4,5,6,7,8]
for elem in arr:
    if elem % 6:
        print(elem)

1
2
3
4
5
7
8

In [ ]:
'''
loop
variable name = [set]
for variable name  2 in variable name:
print (variable name 2)

In [8]:
name = ("zoya","xoi")
for name2 in name:
    print(name2)

zoya
xoi

In [15]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson","Great Falls", "Honolulu"]
city_to_check = "Australia"
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")
else:
    print("not clean")

not clean

In [2]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson","Great Falls", "Honolulu"] 
for a_clean_city in cleanest_cities:
    if a_clean_city == "Tucson":
        print("It's one of the cleanest cities")
    else:
        print("not clean")

not clean
not clean
It's one of the cleanest cities
not clean
not clean

In [60]:
arr=[1,2,3,4,5,6,7,8]
for arr in range(10):
    if arr % 6 == 1:
        break
    print(arr)

0

In [90]:
prison_break ="micheal","sara","sukray","alice","teabag","lincon","balick","gretchen","mahon","tenchady"
for season in prison_break:
    print(season)

micheal
sara
sukray
alice
teabag
lincon
balick
gretchen
mahon
tenchady

In [91]:
for season in range(10):
        print(season,prison_break)

0 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
1 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
2 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
3 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
4 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
5 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
6 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
7 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
8 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
9 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')

In [95]:
for season in range(0,6,2):
    print(season,prison_break)

0 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
2 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')
4 ('micheal', 'sara', 'sukray', 'alice', 'teabag', 'lincon', 'balick', 'gretchen', 'mahon', 'tenchady')

In [98]:
numbers = 1,2,3,4,5,6,7,8,9,10
for numbers in range(9,3,-2):
    print (numbers)

9
7
5

In [101]:
for season in range(8):
    break

In [108]:
country ="Pakistan"
for city in country:
    print(city)

P
a
k
i
s
t
a
n

In [126]:
prison_break =["micheal","sara","sukray","alice","teabag","lincon","balick","gretchen","mahon","tenchady"]
for season in prison_break:
    if season == "lincon":
        break
    print(season)

micheal
sara
sukray
alice
teabag

In [128]:
prison_break =["micheal","sara","sukray","alice","teabag","lincon","balick","gretchen","mahon","tenchady"]
for season in prison_break:
    if season == "lincon":
        continue
    print(season)

micheal
sara
sukray
alice
teabag
balick
gretchen
mahon
tenchady

In [138]:
for j in range (1,11):
    print(f"3 x {j} = {3*j}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
table = input("number")
table =int(table)
for tab in range (1, table+1):
    #for n in range (1,11):
        print(f"{tab} x {n} = {tab*n}")

In [1]:
table = input("number")
table =int(table)
for tab in range (1, table+1):
    for n in range (1,11):
        print(f"{tab} x {n} = {tab*n}")

number3
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [11]:
table = input("number")
table =int(table)

for tab in range (1, table+1):
    for n in range (1,11):
        print(f"{tab} x {n} = {tab*n}", end="\t")
    print()

number3
1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30

In [12]:
u = int(input("Enter no"))

for r in range(1,11):
    for c in range(1, u+1):
        print(f"{c} X {r} = {c*r}", end="\t")
    print()

Enter no4
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40

In [1]:
table =input("number")
table =int(table)

for n in range (1,11):
    for tab in range (1, table+1):
        print(f"{tab} x {n} = {tab*n}", end="\t")
    print()      #2  x  1   =2*1

number2
1 x 1 = 1	2 x 1 = 2
1 x 2 = 2	2 x 2 = 4
1 x 3 = 3	2 x 3 = 6
1 x 4 = 4	2 x 4 = 8
1 x 5 = 5	2 x 5 = 10
1 x 6 = 6	2 x 6 = 12
1 x 7 = 7	2 x 7 = 14
1 x 8 = 8	2 x 8 = 16
1 x 9 = 9	2 x 9 = 18
1 x 10 = 10	2 x 10 = 20

In [13]:
first_name= ["xoi","atif","ezaz","vijdan","farah","zoya"]
last_name = ["zoya","akhtar","haq","atif","mehmood","saeed"]
full_name = []
for name1 in first_name:
    for name2 in last_name:
        full_name.append(name1 + " " + name2)
        print (full_name)

['xoi zoya']
['xoi zoya', 'xoi akhtar']
['xoi zoya', 'xoi akhtar', 'xoi haq']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood', 'farah saeed']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood', 'farah saeed', 'zoya zoya']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood', 'farah saeed', 'zoya zoya', 'zoya akhtar']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood', 'farah saeed', 'zoya zoya', 'zoya akhtar', 'zoya haq']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood', 'farah saeed', 'zoya zoya', 'zoya akhtar', 'zoya haq', 'zoya atif']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood', 'farah saeed', 'zoya zoya', 'zoya akhtar', 'zoya haq', 'zoya atif', 'zoya mehmood']
['xoi zoya', 'xoi akhtar', 'xoi haq', 'xoi atif', 'xoi mehmood', 'xoi saeed', 'atif zoya', 'atif akhtar', 'atif haq', 'atif atif', 'atif mehmood', 'atif saeed', 'ezaz zoya', 'ezaz akhtar', 'ezaz haq', 'ezaz atif', 'ezaz mehmood', 'ezaz saeed', 'vijdan zoya', 'vijdan akhtar', 'vijdan haq', 'vijdan atif', 'vijdan mehmood', 'vijdan saeed', 'farah zoya', 'farah akhtar', 'farah haq', 'farah atif', 'farah mehmood', 'farah saeed', 'zoya zoya', 'zoya akhtar', 'zoya haq', 'zoya atif', 'zoya mehmood', 'zoya saeed']

In [14]:
first_name= ["xoi","atif","ezaz","vijdan","farah","zoya"]
last_name = ["zoya","akhtar","haq","atif","mehmood","saeed"]
full_name = []
for name1 in first_name:
    for name2 in last_name:
        full_name= (name1 + " " + name2)
        print (full_name)

xoi zoya
xoi akhtar
xoi haq
xoi atif
xoi mehmood
xoi saeed
atif zoya
atif akhtar
atif haq
atif atif
atif mehmood
atif saeed
ezaz zoya
ezaz akhtar
ezaz haq
ezaz atif
ezaz mehmood
ezaz saeed
vijdan zoya
vijdan akhtar
vijdan haq
vijdan atif
vijdan mehmood
vijdan saeed
farah zoya
farah akhtar
farah haq
farah atif
farah mehmood
farah saeed
zoya zoya
zoya akhtar
zoya haq
zoya atif
zoya mehmood
zoya saeed

In [4]:
name = str(input("full name"))
print(name)

full namezoya
zoya

In [5]:
x = 2,11

In [20]:
table = int(input("enter number"))
for tab in range(1,table+1):
    for n in range (1,11):
        print(f"{tab} x {n} = {n*tab}")

enter number2
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [21]:
table = input("number")
table =int(table)
for tab in range (1, table+1):
    #for n in range (1,11):
        print(f"{tab} x {n} = {tab*n}")

number5
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50